@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

#root {
	font-family: 'Roboto', sans-serif;
	height: 100vh;
	background-color: $dark-grey;
}

.content {
	display: flex;
	flex-direction: column;

	@media (max-width: 1250px) {
		flex-direction: column-reverse;
		height: 100%;
	}
}